body {
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("image/plat2.jpg") center/cover no-repeat;
  padding: 120px 0;
}

/* Cartes */
.card img {
  height: 200px;
  object-fit: cover;
}

