body {
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("plat2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
}

/* Cartes */
.card img {
  height: 200px;
  object-fit: cover;
}

